In [1]:
import numpy as np
import pandas as pd

In [2]:
pf = pd.read_excel('performance.xlsx', header=1)
pf.head()

,방송일시,노출(분),마더코드,상품코드,상품명,상품군,판매단가,취급액
0,2019-01-01 06:00:00,20.0,100346,201072,테이트 남성 셀린니트3종,의류,39900,2099000.0
1,2019-01-01 06:00:00,NaN,100346,201079,테이트 여성 셀린니트3종,의류,39900,4371000.0
2,2019-01-01 06:20:00,20.0,100346,201072,테이트 남성 셀린니트3종,의류,39900,3262000.0
3,2019-01-01 06:20:00,NaN,100346,201079,테이트 여성 셀린니트3종,의류,39900,6955000.0
4,2019-01-01 06:40:00,20.0,100346,201072,테이트 남성 셀린니트3종,의류,39900,6672000.0

In [3]:
pf.loc[pf['노출(분)'].isnull(), '노출(분)'] = \
              pf.loc[pf['노출(분)'].isnull(), '방송일시'].map(pf.loc[pf['노출(분)'].notnull()]\
                                                      .set_index('방송일시')['노출(분)'])

In [8]:
pf['date'] = pf['방송일시'].dt.date
pf['week'] = pf['방송일시'].dt.dayofweek
pf['time'] = pf['방송일시'].dt.time

### week: 0- 월, 1- 화,  2- 수 ...

In [24]:
def caldate(date, time):
    start = pd.Timestamp('00:00:00').time()
    end = pd.Timestamp('02:00:00').time()
    if time >= start and time <= end:
        date = date - pd.DateOffset(days=1)
    return date

In [25]:
pf['date'] = pf.apply(lambda x: caldate(x['date'], x['time']), axis=1)
pf.head()

,방송일시,노출(분),마더코드,상품코드,상품명,상품군,판매단가,취급액,date,week,time
0,2019-01-01 06:00:00,20.0,100346,201072,테이트 남성 셀린니트3종,의류,39900,2099000.0,2019-01-01,1,06:00:00
1,2019-01-01 06:00:00,20.0,100346,201079,테이트 여성 셀린니트3종,의류,39900,4371000.0,2019-01-01,1,06:00:00
2,2019-01-01 06:20:00,20.0,100346,201072,테이트 남성 셀린니트3종,의류,39900,3262000.0,2019-01-01,1,06:20:00
3,2019-01-01 06:20:00,20.0,100346,201079,테이트 여성 셀린니트3종,의류,39900,6955000.0,2019-01-01,1,06:20:00
4,2019-01-01 06:40:00,20.0,100346,201072,테이트 남성 셀린니트3종,의류,39900,6672000.0,2019-01-01,1,06:40:00

In [28]:
pf['week'] = pf['date'].dt.dayofweek

In [29]:
pf[60:70]

,방송일시,노출(분),마더코드,상품코드,상품명,상품군,판매단가,취급액,date,week,time
60,2019-01-02 00:20:00,20.0,100377,201225,그렉노먼 남성 캐시터치 터틀넥 4종,의류,69900,11985000.0,2019-01-01,1,00:20:00
61,2019-01-02 00:20:00,20.0,100377,201231,그렉노먼 여성 캐시터치 터틀넥 4종,의류,69900,8491000.0,2019-01-01,1,00:20:00
62,2019-01-02 00:40:00,20.0,100377,201225,그렉노먼 남성 캐시터치 터틀넥 4종,의류,69900,16461000.0,2019-01-01,1,00:40:00
63,2019-01-02 00:40:00,20.0,100377,201231,그렉노먼 여성 캐시터치 터틀넥 4종,의류,69900,10641000.0,2019-01-01,1,00:40:00
64,2019-01-02 01:00:00,20.0,100193,200652,레이프릴 무빙 맥시풀커버 브라팬티,속옷,69900,9647000.0,2019-01-01,1,01:00:00
65,2019-01-02 01:20:00,20.0,100193,200652,레이프릴 무빙 맥시풀커버 브라팬티,속옷,69900,15516000.0,2019-01-01,1,01:20:00
66,2019-01-02 01:40:00,17.1,100193,200652,레이프릴 무빙 맥시풀커버 브라팬티,속옷,69900,18695000.0,2019-01-01,1,01:40:00
67,2019-01-02 06:00:00,20.0,100229,200800,벨라홈 논슬립 옷걸이 세트,생활용품,29800,9605000.0,2019-01-02,2,06:00:00
68,2019-01-02 06:20:00,20.0,100229,200800,벨라홈 논슬립 옷걸이 세트,생활용품,29800,11265000.0,2019-01-02,2,06:20:00
69,2019-01-02 06:40:00,20.0,100229,200800,벨라홈 논슬립 옷걸이 세트,생활용품,29800,14371000.0,2019-01-02,2,06:40:00

In [30]:
pf = pf[pf['상품군']!='무형']
pf = pf[pf.취급액 != 50000]
pf.tail()

,방송일시,노출(분),마더코드,상품코드,상품명,상품군,판매단가,취급액,date,week,time
38299,2019-12-31 23:40:00,20.0,100448,201391,일시불쿠첸압력밥솥 6인용,주방,148000,10157000.0,2019-12-31,1,23:40:00
38300,2020-01-01 00:00:00,20.0,100448,201383,무이자쿠첸압력밥솥 10인용,주방,178000,50929000.0,2019-12-31,1,00:00:00
38301,2020-01-01 00:00:00,20.0,100448,201390,일시불쿠첸압력밥솥 10인용,주방,168000,104392000.0,2019-12-31,1,00:00:00
38302,2020-01-01 00:00:00,20.0,100448,201384,무이자쿠첸압력밥솥 6인용,주방,158000,13765000.0,2019-12-31,1,00:00:00
38303,2020-01-01 00:00:00,20.0,100448,201391,일시불쿠첸압력밥솥 6인용,주방,148000,46608000.0,2019-12-31,1,00:00:00

In [31]:
pf.to_csv("new_performance.csv", mode='w')