In [2]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("final_performance_v4.csv", parse_dates=['방송일시','date', 'real_date'])
data.head()

,Unnamed: 0,방송일시,노출(분),마더코드,상품코드,상품명,상품군,판매단가,취급액,date,...,g_3,s_0,s_1,w_0,w_1,w_2,w_3,w_4,w_5,cpi
0,0,2019-01-01 06:00:00,20.0,296,891,테이트 남성 셀린니트3종,6,39900,2099000.0,2019-01-01,...,0,0,0,0,0,0,0,0,0,104.03
1,1,2019-01-01 06:00:00,20.0,296,898,테이트 여성 셀린니트3종,6,39900,4371000.0,2019-01-01,...,0,0,0,0,0,0,0,0,0,104.03
2,2,2019-01-01 06:20:00,20.0,296,891,테이트 남성 셀린니트3종,6,39900,3262000.0,2019-01-01,...,0,1,0,0,0,0,0,0,0,104.03
3,3,2019-01-01 06:20:00,20.0,296,898,테이트 여성 셀린니트3종,6,39900,6955000.0,2019-01-01,...,0,1,0,0,0,0,0,0,0,104.03
4,4,2019-01-01 06:40:00,20.0,296,891,테이트 남성 셀린니트3종,6,39900,6672000.0,2019-01-01,...,0,0,1,0,0,0,0,0,0,104.03

In [20]:
use_var = ['마더코드', '상품코드', '상품군', 'week', 'hour', 'weekofyear', 'stage', 'prime', 'IsHoliday', '노출(분)', '판매단가', '취급액', '지속휴일수', 'TEMP', 'HUM', 'cpi']
Data = data[use_var]
Data.head()

,마더코드,상품코드,상품군,week,hour,weekofyear,stage,prime,IsHoliday,노출(분),판매단가,취급액,지속휴일수,TEMP,HUM,cpi
0,296,891,6,1,6,0,0,0,1.0,20.0,39900,2099000.0,1.0,-6.576974,63.524958,104.03
1,296,898,6,1,6,0,0,0,1.0,20.0,39900,4371000.0,1.0,-6.576974,63.524958,104.03
2,296,891,6,1,6,0,2,0,1.0,20.0,39900,3262000.0,1.0,-6.576974,63.524958,104.03
3,296,898,6,1,6,0,2,0,1.0,20.0,39900,6955000.0,1.0,-6.576974,63.524958,104.03
4,296,891,6,1,6,0,1,0,1.0,20.0,39900,6672000.0,1.0,-6.576974,63.524958,104.03

In [21]:
Data['profit/m'] = Data.apply(lambda x: x['취급액']/x['노출(분)'], axis=1)
Data.head()

C:\ProgramData\Anaconda3\envs\tensor\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,마더코드,상품코드,상품군,week,hour,weekofyear,stage,prime,IsHoliday,노출(분),판매단가,취급액,지속휴일수,TEMP,HUM,cpi,profit/m
0,296,891,6,1,6,0,0,0,1.0,20.0,39900,2099000.0,1.0,-6.576974,63.524958,104.03,104950.0
1,296,898,6,1,6,0,0,0,1.0,20.0,39900,4371000.0,1.0,-6.576974,63.524958,104.03,218550.0
2,296,891,6,1,6,0,2,0,1.0,20.0,39900,3262000.0,1.0,-6.576974,63.524958,104.03,163100.0
3,296,898,6,1,6,0,2,0,1.0,20.0,39900,6955000.0,1.0,-6.576974,63.524958,104.03,347750.0
4,296,891,6,1,6,0,1,0,1.0,20.0,39900,6672000.0,1.0,-6.576974,63.524958,104.03,333600.0

In [28]:
avg = Data[['상품코드', 'profit/m']].groupby('상품코드').mean()
avg.rename(columns = {'profit/m': 'avgp'}, inplace=True)
avg

              avgp
상품코드
0     6.690111e+05
1     1.261133e+06
2     1.904157e+06
3     1.241882e+06
4     7.805773e+05
...            ...
2026  7.223333e+04
2027  3.029064e+06
2028  2.261397e+06
2029  2.195280e+06
2030  3.104993e+06

[2031 rows x 1 columns]

In [29]:
minval = Data[['상품코드', 'profit/m']].groupby('상품코드').min()
minval.rename(columns = {'profit/m': 'minp'}, inplace=True)
minval

              minp
상품코드
0     2.952500e+05
1     7.092333e+05
2     1.091700e+06
3     3.507000e+05
4     1.603000e+05
...            ...
2026  4.186667e+04
2027  2.110650e+06
2028  1.202850e+06
2029  1.299950e+06
2030  1.460200e+06

[2031 rows x 1 columns]

In [30]:
maxval = Data[['상품코드', 'profit/m']].groupby('상품코드').max()
maxval.rename(columns={'profit/m': 'maxp'}, inplace=True)
maxval

              maxp
상품코드
0     9.097500e+05
1     1.761467e+06
2     2.622150e+06
3     2.442000e+06
4     1.959600e+06
...            ...
2026  1.026000e+05
2027  4.626900e+06
2028  3.538600e+06
2029  4.194650e+06
2030  1.140885e+07

[2031 rows x 1 columns]

In [31]:
Data = pd.merge(Data, avg, on=['상품코드'])
Data

,마더코드,상품코드,상품군,week,hour,weekofyear,stage,prime,IsHoliday,노출(분),판매단가,취급액,지속휴일수,TEMP,HUM,cpi,profit/m,avgp
0,296,891,6,1,6,0,0,0,1.0,20.0,39900,2099000.0,1.0,-6.576974,63.524958,104.03,104950.0,298430.0
1,296,891,6,1,6,0,2,0,1.0,20.0,39900,3262000.0,1.0,-6.576974,63.524958,104.03,163100.0,298430.0
2,296,891,6,1,6,0,1,0,1.0,20.0,39900,6672000.0,1.0,-6.576974,63.524958,104.03,333600.0,298430.0
3,296,891,6,2,0,0,0,0,0.0,20.0,39900,7329000.0,0.0,-5.089473,54.841105,104.03,366450.0,298430.0
4,296,891,6,2,0,0,1,0,0.0,20.0,39900,10481000.0,0.0,-5.089473,54.841105,104.03,524050.0,298430.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35374,480,1452,0,1,19,0,2,0,0.0,20.0,649000,12803000.0,0.0,-4.818218,43.214914,105.51,640150.0,451150.0
35375,480,1452,0,1,20,0,1,1,0.0,20.0,649000,9966000.0,0.0,-5.177326,44.899181,105.51,498300.0,451150.0
35376,480,1454,0,1,19,0,0,0,0.0,20.0,699000,9205000.0,0.0,-4.818218,43.214914,105.51,460250.0,816500.0
35377,480,1454,0,1,19,0,2,0,0.0,20.0,699000,12259000.0,0.0,-4.818218,43.214914,105.51,612950.0,816500.0
35378,480,1454,0,1,20,0,1,1,0.0,20.0,699000,27526000.0,0.0,-5.177326,44.899181,105.51,1376300.0,816500.0

In [32]:
Data = pd.merge(Data, minval, on=['상품코드'])
Data.head()

,마더코드,상품코드,상품군,week,hour,weekofyear,stage,prime,IsHoliday,노출(분),판매단가,취급액,지속휴일수,TEMP,HUM,cpi,profit/m,avgp,minp
0,296,891,6,1,6,0,0,0,1.0,20.0,39900,2099000.0,1.0,-6.576974,63.524958,104.03,104950.0,298430.0,104950.0
1,296,891,6,1,6,0,2,0,1.0,20.0,39900,3262000.0,1.0,-6.576974,63.524958,104.03,163100.0,298430.0,104950.0
2,296,891,6,1,6,0,1,0,1.0,20.0,39900,6672000.0,1.0,-6.576974,63.524958,104.03,333600.0,298430.0,104950.0
3,296,891,6,2,0,0,0,0,0.0,20.0,39900,7329000.0,0.0,-5.089473,54.841105,104.03,366450.0,298430.0,104950.0
4,296,891,6,2,0,0,1,0,0.0,20.0,39900,10481000.0,0.0,-5.089473,54.841105,104.03,524050.0,298430.0,104950.0

In [33]:
Data = pd.merge(Data, maxval, on=['상품코드'])
Data.head()

,마더코드,상품코드,상품군,week,hour,weekofyear,stage,prime,IsHoliday,노출(분),판매단가,취급액,지속휴일수,TEMP,HUM,cpi,profit/m,avgp,minp,maxp
0,296,891,6,1,6,0,0,0,1.0,20.0,39900,2099000.0,1.0,-6.576974,63.524958,104.03,104950.0,298430.0,104950.0,524050.0
1,296,891,6,1,6,0,2,0,1.0,20.0,39900,3262000.0,1.0,-6.576974,63.524958,104.03,163100.0,298430.0,104950.0,524050.0
2,296,891,6,1,6,0,1,0,1.0,20.0,39900,6672000.0,1.0,-6.576974,63.524958,104.03,333600.0,298430.0,104950.0,524050.0
3,296,891,6,2,0,0,0,0,0.0,20.0,39900,7329000.0,0.0,-5.089473,54.841105,104.03,366450.0,298430.0,104950.0,524050.0
4,296,891,6,2,0,0,1,0,0.0,20.0,39900,10481000.0,0.0,-5.089473,54.841105,104.03,524050.0,298430.0,104950.0,524050.0

In [35]:
Data.to_csv("final_performance_with_stat.csv", mode='w')

In [3]:
Data = pd.read_csv("final_performance_with_stat.csv")

# LightGBM Model

## 사용 변수
- **to_categorical** : 상품군, week, hour, weekofyear, stage
- **dummy** : prime, IsHoliday, 
- **numeric** : 노출, 판매단가, 취급액, 지속휴일수, temp, hum, cpi, avgp, minp, maxp

In [17]:
import sklearn
from sklearn.preprocessing import OneHotEncoder, MinMaxScaler
from sklearn.model_selection import train_test_split

In [18]:
use_var = ['마더코드', '상품코드', '상품군', 'week', 'hour', 'weekofyear', 'stage', 'prime', 'IsHoliday', '노출(분)', '판매단가', '취급액', '지속휴일수', 'TEMP', 'HUM', 'cpi', 'avgp', 'minp', 'maxp']
Data = Data[use_var]
Data.head()

,마더코드,상품코드,상품군,week,hour,weekofyear,stage,prime,IsHoliday,노출(분),판매단가,취급액,지속휴일수,TEMP,HUM,cpi,avgp,minp,maxp
0,296,891,6,1,6,0,0,0,1.0,20.0,39900,2099000.0,1.0,-6.576974,63.524958,104.03,5968600.0,2099000.0,10481000.0
1,296,891,6,1,6,0,2,0,1.0,20.0,39900,3262000.0,1.0,-6.576974,63.524958,104.03,5968600.0,2099000.0,10481000.0
2,296,891,6,1,6,0,1,0,1.0,20.0,39900,6672000.0,1.0,-6.576974,63.524958,104.03,5968600.0,2099000.0,10481000.0
3,296,891,6,2,0,0,0,0,0.0,20.0,39900,7329000.0,0.0,-5.089473,54.841105,104.03,5968600.0,2099000.0,10481000.0
4,296,891,6,2,0,0,1,0,0.0,20.0,39900,10481000.0,0.0,-5.089473,54.841105,104.03,5968600.0,2099000.0,10481000.0

In [19]:
Data['avgp'] = Data.apply(lambda x: x['노출(분)']*x['avgp'], axis=1)
Data['minp'] = Data.apply(lambda x: x['노출(분)']*x['minp'], axis=1)
Data['maxp'] = Data.apply(lambda x: x['노출(분)']*x['maxp'], axis=1)
Data.head()

,마더코드,상품코드,상품군,week,hour,weekofyear,stage,prime,IsHoliday,노출(분),판매단가,취급액,지속휴일수,TEMP,HUM,cpi,avgp,minp,maxp
0,296,891,6,1,6,0,0,0,1.0,20.0,39900,2099000.0,1.0,-6.576974,63.524958,104.03,119372000.0,41980000.0,209620000.0
1,296,891,6,1,6,0,2,0,1.0,20.0,39900,3262000.0,1.0,-6.576974,63.524958,104.03,119372000.0,41980000.0,209620000.0
2,296,891,6,1,6,0,1,0,1.0,20.0,39900,6672000.0,1.0,-6.576974,63.524958,104.03,119372000.0,41980000.0,209620000.0
3,296,891,6,2,0,0,0,0,0.0,20.0,39900,7329000.0,0.0,-5.089473,54.841105,104.03,119372000.0,41980000.0,209620000.0
4,296,891,6,2,0,0,1,0,0.0,20.0,39900,10481000.0,0.0,-5.089473,54.841105,104.03,119372000.0,41980000.0,209620000.0

In [20]:
Data['상품군'].unique()

array([ 6,  5,  9,  3,  7,  1,  4,  2,  8,  0, 10], dtype=int64)

In [21]:
X = Data.drop(['취급액'], axis = 1)
Y = Data[['취급액']]
print("data shape : ", X.shape)
print("label shape : " , Y.shape)

data shape :  (35379, 18)
label shape :  (35379, 1)

In [22]:
x_train, x_valid, y_train, y_valid = train_test_split(X, Y, test_size = 0.1, random_state = 123457)
print("x_train shape : ", x_train.shape)
print("y_train shape : ", y_train.shape)
print("x_valid shape : ", x_valid.shape)
print("y_valid shape : ", y_valid.shape)

x_train shape :  (31841, 18)
y_train shape :  (31841, 1)
x_valid shape :  (3538, 18)
y_valid shape :  (3538, 1)

## Make valid data

In [23]:
pd.set_option('mode.chained_assignment',  None)
def goods_code_encoding(row, code_set):
    if row['상품코드'] in code_set:
        return row
    else:
        if row['마더코드'] in x_train['마더코드']:
            frame = x_train[x_train['마더코드']==row['마더코드']]
            frame['diff'] =  abs(frame['판매단가'] - row['판매단가'])
            fitrow = frame[frame['diff']==min(frame['diff'])].iloc[0, :-1]
        else:
            frame = x_train[x_train['상품군']==row['상품군']]
            frame['diff'] =  abs(frame['판매단가'] - row['판매단가'])
            fitrow = frame[frame['diff']==min(frame['diff'])].iloc[0, :-1]
        row['avgp'] = fitrow['avgp']
        row['minp'] = fitrow['minp']
        row['maxp'] = fitrow['maxp']
        return row

In [36]:
make_valid_cols = ['상품군', 'week', 'hour', 'weekofyear', 'stage', 'prime', 'IsHoliday', '노출(분)', '판매단가', '지속휴일수', 'TEMP', 'HUM', 'cpi', 'avgp', 'minp', 'maxp']
to_cat = ['상품군', 'week', 'hour', 'weekofyear', 'stage']
to_int = ['상품군', 'week', 'hour', 'weekofyear', 'stage', 'prime', 'IsHoliday']

train_goods_set = set(x_train['상품코드'])

for i in range(0, len(x_valid)):
    row = x_valid.iloc[i]
    x_valid.iloc[i] = goods_code_encoding(row, train_goods_set)

#for col in to_cat:
#    x_valid[col] = x_valid[col].astype('category') 
    
for col in to_int:
    x_valid[col] = x_valid[col].astype('int')
    
x_valid_input = x_valid[make_valid_cols]  
print("x_valid_input shape : ", x_valid_input.shape)

x_valid_input shape :  (3538, 16)

In [37]:
x_valid_input.iloc[1]

상품군           3.000000e+00
week          3.000000e+00
hour          1.700000e+01
weekofyear    2.800000e+01
stage         1.000000e+00
prime         0.000000e+00
IsHoliday     0.000000e+00
노출(분)         2.000000e+01
판매단가          6.090000e+04
지속휴일수         0.000000e+00
TEMP          2.405379e+01
HUM           7.552343e+01
cpi           1.047300e+02
avgp          1.070565e+09
minp          3.331200e+08
maxp          2.351200e+09
Name: 27653, dtype: float64

## Make train data

In [38]:
make_train_cols = ['상품군', 'week', 'hour', 'weekofyear', 'stage', 'prime', 'IsHoliday', '노출(분)', '판매단가', '지속휴일수', 'TEMP', 'HUM', 'cpi', 'avgp', 'minp', 'maxp']
to_cat = ['상품군', 'week', 'hour', 'weekofyear', 'stage']
to_int = ['상품군', 'week', 'hour', 'weekofyear', 'stage', 'prime', 'IsHoliday']

#for col in to_cat:
#    x_train[col] = x_train[col].astype('category') 
for col in to_int:
    x_train[col] = x_train[col].astype('int')

x_train_input = x_train[make_train_cols]
print("x_train_input shape : ", x_train_input.shape)

x_train_input shape :  (31841, 16)

In [39]:
x_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 31841 entries, 15609 to 29649
Data columns (total 18 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   마더코드        31841 non-null  int64
 1   상품코드        31841 non-null  int64
 2   상품군         31841 non-null  int32
 3   week        31841 non-null  int32
 4   hour        31841 non-null  int32
 5   weekofyear  31841 non-null  int32
 6   stage       31841 non-null  int32
 7   prime       31841 non-null  int32
 8   IsHoliday   31841 non-null  int32
 9   노출(분)       31841 non-null  float64
 10  판매단가        31841 non-null  int64
 11  지속휴일수       31841 non-null  float64
 12  TEMP        31841 non-null  float64
 13  HUM         31841 non-null  float64
 14  cpi         31841 non-null  float64
 15  avgp        31841 non-null  float64
 16  minp        31841 non-null  float64
 17  maxp        31841 non-null  float64
dtypes: float64(8), int32(7), int64(3)
memory usage: 5.0 MB

In [40]:
x_valid.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3538 entries, 3611 to 24239
Data columns (total 18 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   마더코드        3538 non-null   float64
 1   상품코드        3538 non-null   float64
 2   상품군         3538 non-null   int32
 3   week        3538 non-null   int32
 4   hour        3538 non-null   int32
 5   weekofyear  3538 non-null   int32
 6   stage       3538 non-null   int32
 7   prime       3538 non-null   int32
 8   IsHoliday   3538 non-null   int32
 9   노출(분)       3538 non-null   float64
 10  판매단가        3538 non-null   float64
 11  지속휴일수       3538 non-null   float64
 12  TEMP        3538 non-null   float64
 13  HUM         3538 non-null   float64
 14  cpi         3538 non-null   float64
 15  avgp        3538 non-null   float64
 16  minp        3538 non-null   float64
 17  maxp        3538 non-null   float64
dtypes: float64(11), int32(7)
memory usage: 428.4 KB

## lightgbm 데이터셋으로 변환

In [182]:
import lightgbm as lgb

train_ds = lgb.Dataset(x_train_input, label = y_train) 
valid_ds = lgb.Dataset(x_valid_input, label = y_valid)

## 파라미터 세팅

In [188]:
params = {'learning_rate': 0.1, 
          'max_depth': -1, 
          'boosting': 'dart', 
          'objective': 'regression', 
          'metric': 'mape', 
          'is_training_metric': True, 
          'num_leaves': 144, 
          'feature_fraction': 0.9, 
          'bagging_fraction': 0.7, 
          'bagging_freq': 5, 
          'seed':123457}

## 모델훈련

In [191]:
model = lgb.train(params, train_ds, 2000, valid_ds, verbose_eval=100, early_stopping_rounds=10)

[LightGBM] [Warning] Auto-choosing row-wise multi-threading, the overhead of testing was 0.005083 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 1666
[LightGBM] [Info] Number of data points in the train set: 31841, number of used features: 16
[LightGBM] [Info] Start training from score 23054854.151314
[100]	valid_0's mape: 0.358322
[200]	valid_0's mape: 0.341229
[300]	valid_0's mape: 0.337182
[400]	valid_0's mape: 0.341317
[500]	valid_0's mape: 0.338872
[600]	valid_0's mape: 0.335431
[700]	valid_0's mape: 0.324771
[800]	valid_0's mape: 0.333043
[900]	valid_0's mape: 0.326514
[1000]	valid_0's mape: 0.32546
[1100]	valid_0's mape: 0.323168
[1200]	valid_0's mape: 0.319165
[1300]	valid_0's mape: 0.32161
[1400]	valid_0's mape: 0.322732
[1500]	valid_0's mape: 0.320191
[1600]	valid_0's mape: 0.317734
[1700]	valid_0's mape: 0.317711
[1800]	valid_0's mape: 0.318814
[1900]	valid_0's mape: 0.320093
[2000]	valid_0's mape: 0.320085

## 모델평가

In [192]:
predict_train = model.predict(x_train_input).reshape(-1, 1)
predict_test = model.predict(x_valid_input).reshape(-1, 1)

In [44]:
import numpy as np

def MAPE(y_true, y_pred): 
    y_true, y_pred = np.array(y_true), np.array(y_pred)
    return np.mean(np.abs((y_true - y_pred) / y_true)) * 100

In [194]:
train_mape = MAPE(y_train, predict_train)
test_mape = MAPE(y_valid, predict_test)

print('train data MAPE: ', train_mape)
print('test data MAPE: ', test_mape)

train data MAPE:  16.369994707024585
test data MAPE:  32.00854054236952

# catboost

In [ ]:
import numpy as np
from catboost import Pool, CatBoostRegressor

to_cat = ['상품군', 'week', 'hour', 'weekofyear', 'stage','prime', 'IsHoliday']

train_pool = Pool(x_train_input, y_train, cat_features=to_cat)
test_pool = Pool(x_valid_input, cat_features=to_cat)

model = CatBoostRegressor(iterations=10000, loss_function='MAPE', verbose=100, early_stopping_rounds=100)

model.fit(train_pool)

0:	learn: 0.7506241	total: 77ms	remaining: 12m 50s
100:	learn: 0.7040993	total: 4.27s	remaining: 6m 58s
200:	learn: 0.6995396	total: 8.57s	remaining: 6m 57s
300:	learn: 0.6971200	total: 12.9s	remaining: 6m 57s
400:	learn: 0.6952417	total: 17.3s	remaining: 6m 53s
500:	learn: 0.6943637	total: 21.5s	remaining: 6m 47s
600:	learn: 0.6931651	total: 25.6s	remaining: 6m 40s
700:	learn: 0.6921076	total: 30s	remaining: 6m 37s
800:	learn: 0.6910265	total: 34.4s	remaining: 6m 34s
900:	learn: 0.6904779	total: 38.7s	remaining: 6m 30s
1000:	learn: 0.6902064	total: 42.8s	remaining: 6m 24s
1100:	learn: 0.6899627	total: 46.9s	remaining: 6m 18s
1200:	learn: 0.6893906	total: 51.1s	remaining: 6m 14s
1300:	learn: 0.6887540	total: 55.4s	remaining: 6m 10s
1400:	learn: 0.6882567	total: 59.8s	remaining: 6m 7s
1500:	learn: 0.6878028	total: 1m 4s	remaining: 6m 3s
1600:	learn: 0.6874506	total: 1m 8s	remaining: 5m 59s
1700:	learn: 0.6852504	total: 1m 13s	remaining: 5m 56s
1800:	learn: 0.6842386	total: 1m 18s	remaining: 5m 55s
1900:	learn: 0.6838908	total: 1m 23s	remaining: 5m 54s
2000:	learn: 0.6836619	total: 1m 27s	remaining: 5m 50s
2100:	learn: 0.6834658	total: 1m 32s	remaining: 5m 48s
2200:	learn: 0.6832991	total: 1m 37s	remaining: 5m 43s
2300:	learn: 0.6831326	total: 1m 41s	remaining: 5m 41s
2400:	learn: 0.6827928	total: 1m 47s	remaining: 5m 40s
2500:	learn: 0.6815613	total: 1m 55s	remaining: 5m 46s
2600:	learn: 0.6814392	total: 2m 2s	remaining: 5m 48s
2700:	learn: 0.6811814	total: 2m 7s	remaining: 5m 45s
2800:	learn: 0.6809040	total: 2m 13s	remaining: 5m 43s
2900:	learn: 0.6806668	total: 2m 19s	remaining: 5m 40s
3000:	learn: 0.6803841	total: 2m 24s	remaining: 5m 36s
3100:	learn: 0.6799182	total: 2m 29s	remaining: 5m 33s
3200:	learn: 0.6798254	total: 2m 34s	remaining: 5m 28s
3300:	learn: 0.6796135	total: 2m 38s	remaining: 5m 21s
3400:	learn: 0.6793740	total: 2m 42s	remaining: 5m 14s
3500:	learn: 0.6790643	total: 2m 45s	remaining: 5m 8s
3600:	learn: 0.6789783	total: 2m 49s	remaining: 5m 1s
3700:	learn: 0.6787107	total: 2m 53s	remaining: 4m 55s
3800:	learn: 0.6786345	total: 2m 57s	remaining: 4m 49s
3900:	learn: 0.6785249	total: 3m 1s	remaining: 4m 43s
4000:	learn: 0.6783295	total: 3m 5s	remaining: 4m 37s
4100:	learn: 0.6782129	total: 3m 9s	remaining: 4m 32s
4200:	learn: 0.6781203	total: 3m 12s	remaining: 4m 26s
4300:	learn: 0.6780284	total: 3m 16s	remaining: 4m 20s
4400:	learn: 0.6778334	total: 3m 20s	remaining: 4m 15s
4500:	learn: 0.6776409	total: 3m 24s	remaining: 4m 9s
4600:	learn: 0.6775632	total: 3m 28s	remaining: 4m 4s
4700:	learn: 0.6774912	total: 3m 32s	remaining: 3m 59s
4800:	learn: 0.6773143	total: 3m 36s	remaining: 3m 54s
4900:	learn: 0.6772975	total: 3m 41s	remaining: 3m 50s
5000:	learn: 0.6770816	total: 3m 45s	remaining: 3m 45s
5100:	learn: 0.6770040	total: 3m 49s	remaining: 3m 40s
5200:	learn: 0.6768409	total: 3m 54s	remaining: 3m 36s
5300:	learn: 0.6766946	total: 3m 58s	remaining: 3m 31s
5400:	learn: 0.6765686	total: 4m 2s	remaining: 3m 26s
5500:	learn: 0.6764997	total: 4m 6s	remaining: 3m 21s
5600:	learn: 0.6764459	total: 4m 11s	remaining: 3m 17s
5700:	learn: 0.6763379	total: 4m 16s	remaining: 3m 13s
5800:	learn: 0.6762162	total: 4m 22s	remaining: 3m 9s

In [45]:
preds = model.predict(test_pool).reshape(-1,1)
valid_mape = MAPE(y_valid, preds)
print('test data MAPE: ', valid_mape)

test data MAPE:  69.83120926793372