In [1]:
import pandas as pd
import numpy as np

In [20]:
wt = pd.read_csv('월별인구가중합날씨_1.csv', parse_dates = ['time'])
wt.head()

                 time      TEMP        HUM
0 2019-01-01 01:00:00 -5.157666  53.621521
1 2019-01-01 02:00:00 -5.577352  56.876710
2 2019-01-01 03:00:00 -5.922292  58.845987
3 2019-01-01 04:00:00 -6.223195  60.195692
4 2019-01-01 05:00:00 -6.449101  61.929722

In [23]:
wt[8732: 8750]

                    time      TEMP        HUM
8732 2019-12-30 21:00:00  1.417974  61.052602
8733 2019-12-30 22:00:00  0.355113  59.836239
8734 2019-12-30 23:00:00 -0.562519  58.101513
8735 2019-12-31 00:00:00 -1.732468  59.667646
8736 2019-12-31 01:00:00 -2.776089  57.727077
8737 2019-12-31 02:00:00 -3.724901  57.864285
8738 2019-12-31 03:00:00 -4.610282  56.398879
8739 2019-12-31 04:00:00 -5.372904  56.328077
8740 2019-12-31 05:00:00 -6.018657  55.118542
8741 2019-12-31 06:00:00 -6.627427  51.969283
8742 2019-12-31 07:00:00 -7.221759  50.920785
8743 2019-12-31 08:00:00 -7.556247  48.345105
8744 2019-12-31 09:00:00 -7.069561  44.532240
8745 2019-12-31 10:00:00 -6.210850  41.146728
8746 2019-12-31 11:00:00 -5.354055  38.771183
8747 2019-12-31 12:00:00 -4.408943  36.641326
8748 2019-12-31 13:00:00 -3.556353  34.854490
8749 2019-12-31 14:00:00 -2.761677  33.142590

In [24]:
wt['date'] = pd.to_datetime(wt['time'].dt.date)
wt['hour'] = wt['time'].dt.hour
wt.head()

                 time      TEMP        HUM       date  hour
0 2019-01-01 01:00:00 -5.157666  53.621521 2019-01-01     1
1 2019-01-01 02:00:00 -5.577352  56.876710 2019-01-01     2
2 2019-01-01 03:00:00 -5.922292  58.845987 2019-01-01     3
3 2019-01-01 04:00:00 -6.223195  60.195692 2019-01-01     4
4 2019-01-01 05:00:00 -6.449101  61.929722 2019-01-01     5

In [25]:
wt.dtypes

time    datetime64[ns]
TEMP           float64
HUM            float64
date    datetime64[ns]
hour             int64
dtype: object

In [26]:
del wt['time']

In [27]:
wt.rename(columns={'date':'real_date'}, inplace=True)
wt

            TEMP        HUM  real_date  hour
0      -5.157666  53.621521 2019-01-01     1
1      -5.577352  56.876710 2019-01-01     2
2      -5.922292  58.845987 2019-01-01     3
3      -6.223195  60.195692 2019-01-01     4
4      -6.449101  61.929722 2019-01-01     5
...          ...        ...        ...   ...
13099  21.760203  86.624591 2020-06-29    20
13100  21.212699  89.290893 2020-06-29    21
13101  21.045186  89.997665 2020-06-29    22
13102  20.565999  92.057364 2020-06-29    23
13103  20.238832  93.233034 2020-06-30     0

[13104 rows x 4 columns]

In [28]:
pf_p =pd.read_csv("performance_prime.csv" , index_col = 0, parse_dates = ['방송일시', 'date'])
pf_p = pf_p.reset_index(drop=True)
pf_p.tail()

,방송일시,노출(분),마더코드,상품코드,상품명,상품군,판매단가,취급액,date,week,time,hour,prime
35374,2019-12-31 23:40:00,20.0,100448,201391,일시불쿠첸압력밥솥 6인용,주방,148000,10157000.0,2019-12-31,1,23:40:00,23,0
35375,2020-01-01 00:00:00,20.0,100448,201383,무이자쿠첸압력밥솥 10인용,주방,178000,50929000.0,2019-12-31,1,00:00:00,0,0
35376,2020-01-01 00:00:00,20.0,100448,201390,일시불쿠첸압력밥솥 10인용,주방,168000,104392000.0,2019-12-31,1,00:00:00,0,0
35377,2020-01-01 00:00:00,20.0,100448,201384,무이자쿠첸압력밥솥 6인용,주방,158000,13765000.0,2019-12-31,1,00:00:00,0,0
35378,2020-01-01 00:00:00,20.0,100448,201391,일시불쿠첸압력밥솥 6인용,주방,148000,46608000.0,2019-12-31,1,00:00:00,0,0

In [29]:
pf_p['real_date'] = pd.to_datetime(pf_p['방송일시'].dt.date)
pf_p.head()

,방송일시,노출(분),마더코드,상품코드,상품명,상품군,판매단가,취급액,date,week,time,hour,prime,real_date
0,2019-01-01 06:00:00,20.0,100346,201072,테이트 남성 셀린니트3종,의류,39900,2099000.0,2019-01-01,1,06:00:00,6,0,2019-01-01
1,2019-01-01 06:00:00,20.0,100346,201079,테이트 여성 셀린니트3종,의류,39900,4371000.0,2019-01-01,1,06:00:00,6,0,2019-01-01
2,2019-01-01 06:20:00,20.0,100346,201072,테이트 남성 셀린니트3종,의류,39900,3262000.0,2019-01-01,1,06:20:00,6,0,2019-01-01
3,2019-01-01 06:20:00,20.0,100346,201079,테이트 여성 셀린니트3종,의류,39900,6955000.0,2019-01-01,1,06:20:00,6,0,2019-01-01
4,2019-01-01 06:40:00,20.0,100346,201072,테이트 남성 셀린니트3종,의류,39900,6672000.0,2019-01-01,1,06:40:00,6,0,2019-01-01

In [30]:
len(pf_p)

35379

In [31]:
pf_p.isnull().sum()

방송일시         0
노출(분)        0
마더코드         0
상품코드         0
상품명          0
상품군          0
판매단가         0
취급액          0
date         0
week         0
time         0
hour         0
prime        0
real_date    0
dtype: int64

In [32]:
holi = pd.read_csv("2019_2020년도_지속_휴일_수.csv", index_col=0, parse_dates=['date'])
new_row = {'date': pd.to_datetime('2020-01-01'), '설명': '새해', '요일':'0', 'IsHoliday': 1, '지속휴일수': 1}
holi = holi.append(new_row, ignore_index=True)
holi

          date   설명 요일  IsHoliday  지속휴일수
0   2019-01-01   새해  1        1.0    1.0
1   2019-01-02  NaN  2        0.0    0.0
2   2019-01-03  NaN  3        0.0    0.0
3   2019-01-04  NaN  4        0.0    0.0
4   2019-01-05  NaN  5        1.0    2.0
..         ...  ... ..        ...    ...
361 2019-12-28  NaN  5        1.0    2.0
362 2019-12-29  NaN  6        1.0    2.0
363 2019-12-30  NaN  0        0.0    0.0
364 2019-12-31  NaN  1        0.0    0.0
365 2020-01-01   새해  0        1.0    1.0

[366 rows x 5 columns]

In [33]:
holi = holi[['date', '설명', 'IsHoliday', '지속휴일수']]
holi.rename(columns={'date': 'real_date'}, inplace=True)
npf = pd.merge(pf_p, holi, on=['real_date'])
npf

C:\ProgramData\Anaconda3\envs\tensor\lib\site-packages\pandas\core\frame.py:4133: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

,방송일시,노출(분),마더코드,상품코드,상품명,상품군,판매단가,취급액,date,week,time,hour,prime,real_date,설명,IsHoliday,지속휴일수
0,2019-01-01 06:00:00,20.0,100346,201072,테이트 남성 셀린니트3종,의류,39900,2099000.0,2019-01-01,1,06:00:00,6,0,2019-01-01,새해,1.0,1.0
1,2019-01-01 06:00:00,20.0,100346,201079,테이트 여성 셀린니트3종,의류,39900,4371000.0,2019-01-01,1,06:00:00,6,0,2019-01-01,새해,1.0,1.0
2,2019-01-01 06:20:00,20.0,100346,201072,테이트 남성 셀린니트3종,의류,39900,3262000.0,2019-01-01,1,06:20:00,6,0,2019-01-01,새해,1.0,1.0
3,2019-01-01 06:20:00,20.0,100346,201079,테이트 여성 셀린니트3종,의류,39900,6955000.0,2019-01-01,1,06:20:00,6,0,2019-01-01,새해,1.0,1.0
4,2019-01-01 06:40:00,20.0,100346,201072,테이트 남성 셀린니트3종,의류,39900,6672000.0,2019-01-01,1,06:40:00,6,0,2019-01-01,새해,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35374,2019-12-31 23:40:00,20.0,100448,201391,일시불쿠첸압력밥솥 6인용,주방,148000,10157000.0,2019-12-31,1,23:40:00,23,0,2019-12-31,NaN,0.0,0.0
35375,2020-01-01 00:00:00,20.0,100448,201383,무이자쿠첸압력밥솥 10인용,주방,178000,50929000.0,2019-12-31,1,00:00:00,0,0,2020-01-01,새해,1.0,1.0
35376,2020-01-01 00:00:00,20.0,100448,201390,일시불쿠첸압력밥솥 10인용,주방,168000,104392000.0,2019-12-31,1,00:00:00,0,0,2020-01-01,새해,1.0,1.0
35377,2020-01-01 00:00:00,20.0,100448,201384,무이자쿠첸압력밥솥 6인용,주방,158000,13765000.0,2019-12-31,1,00:00:00,0,0,2020-01-01,새해,1.0,1.0
35378,2020-01-01 00:00:00,20.0,100448,201391,일시불쿠첸압력밥솥 6인용,주방,148000,46608000.0,2019-12-31,1,00:00:00,0,0,2020-01-01,새해,1.0,1.0

In [36]:
npf.isnull().sum()

방송일시             0
노출(분)            0
마더코드             0
상품코드             0
상품명              0
상품군              0
판매단가             0
취급액              0
date             0
week             0
time             0
hour             0
prime            0
real_date        0
설명           33707
IsHoliday        0
지속휴일수            0
dtype: int64

In [35]:
final_pf = pd.merge(npf, wt, on=['real_date', 'hour'])
final_pf

,방송일시,노출(분),마더코드,상품코드,상품명,상품군,판매단가,취급액,date,week,time,hour,prime,real_date,설명,IsHoliday,지속휴일수,TEMP,HUM
0,2019-01-01 06:00:00,20.0,100346,201072,테이트 남성 셀린니트3종,의류,39900,2099000.0,2019-01-01,1,06:00:00,6,0,2019-01-01,새해,1.0,1.0,-6.576974,63.524958
1,2019-01-01 06:00:00,20.0,100346,201079,테이트 여성 셀린니트3종,의류,39900,4371000.0,2019-01-01,1,06:00:00,6,0,2019-01-01,새해,1.0,1.0,-6.576974,63.524958
2,2019-01-01 06:20:00,20.0,100346,201072,테이트 남성 셀린니트3종,의류,39900,3262000.0,2019-01-01,1,06:20:00,6,0,2019-01-01,새해,1.0,1.0,-6.576974,63.524958
3,2019-01-01 06:20:00,20.0,100346,201079,테이트 여성 셀린니트3종,의류,39900,6955000.0,2019-01-01,1,06:20:00,6,0,2019-01-01,새해,1.0,1.0,-6.576974,63.524958
4,2019-01-01 06:40:00,20.0,100346,201072,테이트 남성 셀린니트3종,의류,39900,6672000.0,2019-01-01,1,06:40:00,6,0,2019-01-01,새해,1.0,1.0,-6.576974,63.524958
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35374,2019-12-31 23:40:00,20.0,100448,201391,일시불쿠첸압력밥솥 6인용,주방,148000,10157000.0,2019-12-31,1,23:40:00,23,0,2019-12-31,NaN,0.0,0.0,-6.021727,49.760460
35375,2020-01-01 00:00:00,20.0,100448,201383,무이자쿠첸압력밥솥 10인용,주방,178000,50929000.0,2019-12-31,1,00:00:00,0,0,2020-01-01,새해,1.0,1.0,-5.782469,48.438717
35376,2020-01-01 00:00:00,20.0,100448,201390,일시불쿠첸압력밥솥 10인용,주방,168000,104392000.0,2019-12-31,1,00:00:00,0,0,2020-01-01,새해,1.0,1.0,-5.782469,48.438717
35377,2020-01-01 00:00:00,20.0,100448,201384,무이자쿠첸압력밥솥 6인용,주방,158000,13765000.0,2019-12-31,1,00:00:00,0,0,2020-01-01,새해,1.0,1.0,-5.782469,48.438717
35378,2020-01-01 00:00:00,20.0,100448,201391,일시불쿠첸압력밥솥 6인용,주방,148000,46608000.0,2019-12-31,1,00:00:00,0,0,2020-01-01,새해,1.0,1.0,-5.782469,48.438717

In [37]:
final_pf.isnull().sum()

방송일시             0
노출(분)            0
마더코드             0
상품코드             0
상품명              0
상품군              0
판매단가             0
취급액              0
date             0
week             0
time             0
hour             0
prime            0
real_date        0
설명           33707
IsHoliday        0
지속휴일수            0
TEMP             0
HUM              0
dtype: int64

In [38]:
final_pf.to_csv("final_performance.csv", mode='w')

In [39]:
fpf = pd.read_csv("final_performance.csv", parse_dates=['방송일시', 'date'], index_col = 0)
fpf

,방송일시,노출(분),마더코드,상품코드,상품명,상품군,판매단가,취급액,date,week,time,hour,prime,real_date,설명,IsHoliday,지속휴일수,TEMP,HUM
0,2019-01-01 06:00:00,20.0,100346,201072,테이트 남성 셀린니트3종,의류,39900,2099000.0,2019-01-01,1,06:00:00,6,0,2019-01-01 00:00:00,새해,1.0,1.0,-6.576974,63.524958
1,2019-01-01 06:00:00,20.0,100346,201079,테이트 여성 셀린니트3종,의류,39900,4371000.0,2019-01-01,1,06:00:00,6,0,2019-01-01 00:00:00,새해,1.0,1.0,-6.576974,63.524958
2,2019-01-01 06:20:00,20.0,100346,201072,테이트 남성 셀린니트3종,의류,39900,3262000.0,2019-01-01,1,06:20:00,6,0,2019-01-01 00:00:00,새해,1.0,1.0,-6.576974,63.524958
3,2019-01-01 06:20:00,20.0,100346,201079,테이트 여성 셀린니트3종,의류,39900,6955000.0,2019-01-01,1,06:20:00,6,0,2019-01-01 00:00:00,새해,1.0,1.0,-6.576974,63.524958
4,2019-01-01 06:40:00,20.0,100346,201072,테이트 남성 셀린니트3종,의류,39900,6672000.0,2019-01-01,1,06:40:00,6,0,2019-01-01 00:00:00,새해,1.0,1.0,-6.576974,63.524958
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35374,2019-12-31 23:40:00,20.0,100448,201391,일시불쿠첸압력밥솥 6인용,주방,148000,10157000.0,2019-12-31,1,23:40:00,23,0,2019-12-31 00:00:00,NaN,0.0,0.0,-6.021727,49.760460
35375,2020-01-01 00:00:00,20.0,100448,201383,무이자쿠첸압력밥솥 10인용,주방,178000,50929000.0,2019-12-31,1,00:00:00,0,0,2020-01-01 00:00:00,새해,1.0,1.0,-5.782469,48.438717
35376,2020-01-01 00:00:00,20.0,100448,201390,일시불쿠첸압력밥솥 10인용,주방,168000,104392000.0,2019-12-31,1,00:00:00,0,0,2020-01-01 00:00:00,새해,1.0,1.0,-5.782469,48.438717
35377,2020-01-01 00:00:00,20.0,100448,201384,무이자쿠첸압력밥솥 6인용,주방,158000,13765000.0,2019-12-31,1,00:00:00,0,0,2020-01-01 00:00:00,새해,1.0,1.0,-5.782469,48.438717
35378,2020-01-01 00:00:00,20.0,100448,201391,일시불쿠첸압력밥솥 6인용,주방,148000,46608000.0,2019-12-31,1,00:00:00,0,0,2020-01-01 00:00:00,새해,1.0,1.0,-5.782469,48.438717

In [40]:
fpf['weekofyear'] = fpf['date'].dt.week
fpf.tail()

,방송일시,노출(분),마더코드,상품코드,상품명,상품군,판매단가,취급액,date,week,time,hour,prime,real_date,설명,IsHoliday,지속휴일수,TEMP,HUM,weekofyear
35374,2019-12-31 23:40:00,20.0,100448,201391,일시불쿠첸압력밥솥 6인용,주방,148000,10157000.0,2019-12-31,1,23:40:00,23,0,2019-12-31 00:00:00,NaN,0.0,0.0,-6.021727,49.760460,1
35375,2020-01-01 00:00:00,20.0,100448,201383,무이자쿠첸압력밥솥 10인용,주방,178000,50929000.0,2019-12-31,1,00:00:00,0,0,2020-01-01 00:00:00,새해,1.0,1.0,-5.782469,48.438717,1
35376,2020-01-01 00:00:00,20.0,100448,201390,일시불쿠첸압력밥솥 10인용,주방,168000,104392000.0,2019-12-31,1,00:00:00,0,0,2020-01-01 00:00:00,새해,1.0,1.0,-5.782469,48.438717,1
35377,2020-01-01 00:00:00,20.0,100448,201384,무이자쿠첸압력밥솥 6인용,주방,158000,13765000.0,2019-12-31,1,00:00:00,0,0,2020-01-01 00:00:00,새해,1.0,1.0,-5.782469,48.438717,1
35378,2020-01-01 00:00:00,20.0,100448,201391,일시불쿠첸압력밥솥 6인용,주방,148000,46608000.0,2019-12-31,1,00:00:00,0,0,2020-01-01 00:00:00,새해,1.0,1.0,-5.782469,48.438717,1

In [41]:
fpf.to_csv("final_performance_v2.csv", mode='w')

In [42]:
cpi = pd.read_excel('CPI.xlsx', header=0)

In [44]:
cpi_series = cpi.iloc[1]
cpi_dict = cpi_series.to_dict()
del cpi_dict['시도별']
del cpi_dict['품목별']
cpi_dict

{'2019. 01': 104.03,
 '2019. 02': 104.61,
 '2019. 03': 104.45,
 '2019. 04': 104.81,
 '2019. 05': 105.29,
 '2019. 06': 105.19,
 '2019. 07': 104.4,
 '2019. 08': 104.73,
 '2019. 09': 105.57,
 '2019. 10': 105.96,
 '2019. 11': 105.37,
 '2019. 12': 105.51,
 '2020. 01': 106.26}

In [52]:
cpif = pd.DataFrame({'date': list(cpi_dict.keys()), 'cpi': list(cpi_dict.values())})
cpif

        date     cpi
0   2019. 01  104.03
1   2019. 02  104.61
2   2019. 03  104.45
3   2019. 04  104.81
4   2019. 05  105.29
5   2019. 06  105.19
6   2019. 07  104.40
7   2019. 08  104.73
8   2019. 09  105.57
9   2019. 10  105.96
10  2019. 11  105.37
11  2019. 12  105.51
12  2020. 01  106.26

In [54]:
cpif['year'] = pd.to_datetime(cpif['date']).dt.year
cpif['month'] = pd.to_datetime(cpif['date']).dt.month
cpif

        date     cpi  year  month
0   2019. 01  104.03  2019      1
1   2019. 02  104.61  2019      2
2   2019. 03  104.45  2019      3
3   2019. 04  104.81  2019      4
4   2019. 05  105.29  2019      5
5   2019. 06  105.19  2019      6
6   2019. 07  104.40  2019      7
7   2019. 08  104.73  2019      8
8   2019. 09  105.57  2019      9
9   2019. 10  105.96  2019     10
10  2019. 11  105.37  2019     11
11  2019. 12  105.51  2019     12
12  2020. 01  106.26  2020      1

In [57]:
del cpif['date']

In [56]:
fpf['year'] = pd.to_datetime(fpf['real_date']).dt.year
fpf['month'] = pd.to_datetime(fpf['real_date']).dt.month
fpf.tail()

,방송일시,노출(분),마더코드,상품코드,상품명,상품군,판매단가,취급액,date,week,...,prime,real_date,설명,IsHoliday,지속휴일수,TEMP,HUM,weekofyear,year,month
35374,2019-12-31 23:40:00,20.0,100448,201391,일시불쿠첸압력밥솥 6인용,주방,148000,10157000.0,2019-12-31,1,...,0,2019-12-31 00:00:00,NaN,0.0,0.0,-6.021727,49.760460,1,2019,12
35375,2020-01-01 00:00:00,20.0,100448,201383,무이자쿠첸압력밥솥 10인용,주방,178000,50929000.0,2019-12-31,1,...,0,2020-01-01 00:00:00,새해,1.0,1.0,-5.782469,48.438717,1,2020,1
35376,2020-01-01 00:00:00,20.0,100448,201390,일시불쿠첸압력밥솥 10인용,주방,168000,104392000.0,2019-12-31,1,...,0,2020-01-01 00:00:00,새해,1.0,1.0,-5.782469,48.438717,1,2020,1
35377,2020-01-01 00:00:00,20.0,100448,201384,무이자쿠첸압력밥솥 6인용,주방,158000,13765000.0,2019-12-31,1,...,0,2020-01-01 00:00:00,새해,1.0,1.0,-5.782469,48.438717,1,2020,1
35378,2020-01-01 00:00:00,20.0,100448,201391,일시불쿠첸압력밥솥 6인용,주방,148000,46608000.0,2019-12-31,1,...,0,2020-01-01 00:00:00,새해,1.0,1.0,-5.782469,48.438717,1,2020,1

In [58]:
fpfv3 = pd.merge(fpf, cpif, on=['year', 'month'])
fpfv3

,방송일시,노출(분),마더코드,상품코드,상품명,상품군,판매단가,취급액,date,week,...,real_date,설명,IsHoliday,지속휴일수,TEMP,HUM,weekofyear,year,month,cpi
0,2019-01-01 06:00:00,20.0,100346,201072,테이트 남성 셀린니트3종,의류,39900,2099000.0,2019-01-01,1,...,2019-01-01 00:00:00,새해,1.0,1.0,-6.576974,63.524958,1,2019,1,104.03
1,2019-01-01 06:00:00,20.0,100346,201079,테이트 여성 셀린니트3종,의류,39900,4371000.0,2019-01-01,1,...,2019-01-01 00:00:00,새해,1.0,1.0,-6.576974,63.524958,1,2019,1,104.03
2,2019-01-01 06:20:00,20.0,100346,201072,테이트 남성 셀린니트3종,의류,39900,3262000.0,2019-01-01,1,...,2019-01-01 00:00:00,새해,1.0,1.0,-6.576974,63.524958,1,2019,1,104.03
3,2019-01-01 06:20:00,20.0,100346,201079,테이트 여성 셀린니트3종,의류,39900,6955000.0,2019-01-01,1,...,2019-01-01 00:00:00,새해,1.0,1.0,-6.576974,63.524958,1,2019,1,104.03
4,2019-01-01 06:40:00,20.0,100346,201072,테이트 남성 셀린니트3종,의류,39900,6672000.0,2019-01-01,1,...,2019-01-01 00:00:00,새해,1.0,1.0,-6.576974,63.524958,1,2019,1,104.03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35374,2019-12-31 23:40:00,20.0,100448,201391,일시불쿠첸압력밥솥 6인용,주방,148000,10157000.0,2019-12-31,1,...,2019-12-31 00:00:00,NaN,0.0,0.0,-6.021727,49.760460,1,2019,12,105.51
35375,2020-01-01 00:00:00,20.0,100448,201383,무이자쿠첸압력밥솥 10인용,주방,178000,50929000.0,2019-12-31,1,...,2020-01-01 00:00:00,새해,1.0,1.0,-5.782469,48.438717,1,2020,1,106.26
35376,2020-01-01 00:00:00,20.0,100448,201390,일시불쿠첸압력밥솥 10인용,주방,168000,104392000.0,2019-12-31,1,...,2020-01-01 00:00:00,새해,1.0,1.0,-5.782469,48.438717,1,2020,1,106.26
35377,2020-01-01 00:00:00,20.0,100448,201384,무이자쿠첸압력밥솥 6인용,주방,158000,13765000.0,2019-12-31,1,...,2020-01-01 00:00:00,새해,1.0,1.0,-5.782469,48.438717,1,2020,1,106.26
35378,2020-01-01 00:00:00,20.0,100448,201391,일시불쿠첸압력밥솥 6인용,주방,148000,46608000.0,2019-12-31,1,...,2020-01-01 00:00:00,새해,1.0,1.0,-5.782469,48.438717,1,2020,1,106.26

In [59]:
fpfv3.isnull().sum()

방송일시              0
노출(분)             0
마더코드              0
상품코드              0
상품명               0
상품군               0
판매단가              0
취급액               0
date              0
week              0
time              0
hour              0
prime             0
real_date         0
설명            33707
IsHoliday         0
지속휴일수             0
TEMP              0
HUM               0
weekofyear        0
year              0
month             0
cpi               0
dtype: int64

In [60]:
fpfv3.to_csv("final_performance_v3.csv", mode='w')