In [1]:
import numpy as np
import pandas as pd
import os
data_dir = "data/미세먼지"
os.listdir(data_dir)

['2019년 7월.xlsx',
 '2019년 5월.xlsx',
 '2020년 5월.xlsx',
 '2019년 8월.xlsx',
 '2020년 1월.xlsx',
 '2019년 12월.xlsx',
 '2020년 2월.xlsx',
 '2019년 3월.xlsx',
 '2020년 4월.xlsx',
 '2019년 9월.xlsx',
 '2019년 2월.xlsx',
 '2019년 11월.xlsx',
 '2020년 3월.xlsx',
 '2019년 10월.xlsx',
 '2019년 1월.xlsx',
 '2019년 6월.xlsx',
 '2019년 4월.xlsx']

In [3]:
sample = pd.read_excel(os.path.join(data_dir, '2019년 1월.xlsx'))
sample.head()

,지역,망,측정소코드,측정소명,측정일시,SO2,CO,O3,NO2,PM10,PM25,주소
0,서울 중구,도시대기,111121,중구,2019010101,0.003,0.7,0.003,0.054,39.0,24.0,서울 중구 덕수궁길 15
1,서울 중구,도시대기,111121,중구,2019010102,0.003,0.8,0.002,0.056,38.0,27.0,서울 중구 덕수궁길 15
2,서울 중구,도시대기,111121,중구,2019010103,0.003,0.9,0.002,0.057,42.0,28.0,서울 중구 덕수궁길 15
3,서울 중구,도시대기,111121,중구,2019010104,0.003,0.8,0.002,0.054,42.0,31.0,서울 중구 덕수궁길 15
4,서울 중구,도시대기,111121,중구,2019010105,0.003,0.8,0.002,0.048,49.0,33.0,서울 중구 덕수궁길 15

In [4]:
sample['망'].unique()

array(['도시대기', '도로변대기', '교외대기', '국가배경농도'], dtype=object)

### 측정망 중 '도시대기'를 기준으로 전처리를 진행함 - sample(2019.07)

In [71]:
data = sample[sample['망'] == '도시대기']
print(data.info())
print(data['지역'].unique())
data.tail()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 264640 entries, 0 to 311511
Data columns (total 12 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   지역      264640 non-null  object
 1   망       264640 non-null  object
 2   측정소코드   264640 non-null  int64
 3   측정소명    264640 non-null  object
 4   측정일시    264640 non-null  int64
 5   SO2     248676 non-null  float64
 6   CO      247055 non-null  float64
 7   O3      251207 non-null  float64
 8   NO2     250370 non-null  float64
 9   PM10    249104 non-null  float64
 10  PM25    246222 non-null  float64
 11  주소      264640 non-null  object
dtypes: float64(6), int64(2), object(4)
memory usage: 26.2+ MB
None
['서울 중구' '서울 종로구' '서울 용산구' '서울 광진구' '서울 성동구' '서울 중랑구' '서울 동대문구' '서울 성북구'
 '서울 도봉구' '서울 은평구' '서울 서대문구' '서울 마포구' '서울 강서구' '서울 구로구' '서울 영등포구' '서울 동작구'
 '서울 관악구' '서울 강남구' '서울 서초구' '서울 송파구' '서울 강동구' '서울 금천구' '서울 강북구' '서울 양천구'
 '서울 노원구' '경기 수원시' '경기 성남시' '경기 의정부시' '경기 안양시' '경기 광명시' '경기 안산시' '경기 과천시'
 '경기 구리시' '경기 의왕시' '경기 시흥시' '경기 남양주시' '경기 평택시' '경기 파주시' '경기 고양시' '경기 광주시'
 '경기 용인시' '경기 이천시' '경기 포천시' '경기 김포시' '경기 군포시' '경기 오산시' '경기 하남시' '경기 화성시'
 '경기 양주시' '경기 동두천시' '경기 안성시' '경기 여주시' '경기 연천군' '경기 가평군' '경기 양평군' '강원 춘천시'
 '강원 양구군' '부산 중구' '부산 영도구' '부산 부산진구' '부산 동래구' '부산 남구' '부산 사상구' '부산 북구'
 '부산 금정구' '부산 해운대구' '부산 사하구' '부산 강서구' '부산 연제구' '부산 기장군' '부산 동구' '부산 수영구'
 '부산 서구' '경남 창원시' '울산 동구' '울산 중구' '울산 남구' '울산 울주군' '울산 북구' '경남 진주시'
 '경남 하동군' '경남 김해시' '경남 거제시' '경남 사천시' '경남 양산시' '경남 밀양시' '경남 통영시' '경남 고성군'
 '경남 거창군' '경남 함안군' '경남 함양군' '경남 남해군' '광주 동구' '광주 서구' '광주 북구' '광주 광산구'
 '광주 남구' '전북 전주시' '전남 목포시' '전남 여수시' '전남 순천시' '전남 나주시' '전남 담양군' '전남 장성군'
 '전남 광양시' '전남 해남군' '전남 영암군' '전남 화순군' '전남 영광군' '전남 장흥군' '전남 진도군' '전남 완도군'
 '전남 함평군' '전남 고흥군' '제주 제주시' '제주 서귀포시' '대구 중구' '대구 수성구' '대구 동구' '대구 서구'
 '대구 남구' '대구 북구' '대구 달서구' '대구 달성군' '경북 포항시' '경북 경주시' '경북 김천시' '경북 안동시'
 '경북 구미시' '경북 영주시' '경북 경산시' '경북 상주시' '경북 칠곡군' '경북 영천시' '경북 울진군' '대전 대덕구'
 '대전 중구' '대전 유성구' '대전 동구' '대전 서구' '충북 청주시' '충남 천안시' '충남 공주시' '충남 부여군'
 '충남 서산시' '충남 당진시' '충남 아산시' '충남 논산시' '충남 태안군' '충남 예산군' '충남 보령시' '충남 홍성군'
 '충남 금산군' '충남 청양군' '충남 계룡시' '세종 세종시' '강원 원주시' '강원 강릉시' '강원 동해시' '강원 삼척시'
 '강원 평창군' '강원 정선군' '강원 횡성군' '강원 고성군' '강원 양양군' '강원 속초시' '강원 철원군' '강원 영월군'
 '강원 화천군' '강원 태백시' '충북 충주시' '충북 제천시' '충북 단양군' '충북 괴산군' '충북 진천군' '충북 음성군'
 '충북 영동군' '충북 증평군' '충북 보은군' '충북 옥천군' '전북 군산시' '전북 익산시' '전북 정읍시' '전북 남원시'
 '전북 고창군' '전북 부안군' '전북 김제시' '전북 완주군' '전북 진안군' '전북 임실군' '전북 무주군' '전북 순창군'
 '전북 장수군' '충남 서천군' '인천 중구' '인천 동구' '인천 남동구' '인천 미추홀구' '인천 부평구' '인천 서구'
 '인천 계양구' '인천 강화군' '인천 연수구' '경기 부천시']

,지역,망,측정소코드,측정소명,측정일시,SO2,CO,O3,NO2,PM10,PM25,주소
311507,경기 부천시,도시대기,831154,오정동,2019013120,0.004,0.6,0.019,0.014,147.0,17.0,경기 부천시 성오로 172
311508,경기 부천시,도시대기,831154,오정동,2019013121,0.004,0.6,0.022,0.010,136.0,13.0,경기 부천시 성오로 172
311509,경기 부천시,도시대기,831154,오정동,2019013122,0.004,0.6,0.020,0.009,119.0,13.0,경기 부천시 성오로 172
311510,경기 부천시,도시대기,831154,오정동,2019013123,0.004,0.6,0.021,0.008,97.0,10.0,경기 부천시 성오로 172
311511,경기 부천시,도시대기,831154,오정동,2019013124,0.003,0.6,0.019,0.010,78.0,8.0,경기 부천시 성오로 172

In [14]:
from datetime import datetime

In [70]:
def convert_time(mytime):
    mytime = str(mytime)
    y = int(mytime[:4])
    m = int(mytime[4:6])
    d = int(mytime[6:8])
    H = int(mytime[8:10]) - 1
    mytime = datetime(y, m, d, H)
    return mytime

In [50]:
data['측정일시'].astype('U').apply(lambda x: convert_time(x))
# .apply(lambda x: x.strftime("%Y-%m-%d"))

0        2019-01-01 01:00:00
1        2019-01-01 02:00:00
2        2019-01-01 03:00:00
3        2019-01-01 04:00:00
4        2019-01-01 05:00:00
                 ...
311507   2019-01-31 20:00:00
311508   2019-01-31 21:00:00
311509   2019-01-31 22:00:00
311510   2019-01-31 23:00:00
311511   2019-01-31 00:00:00
Name: 측정일시, Length: 264640, dtype: datetime64[ns]

In [72]:
data['지역'] = data['지역'].apply(lambda x: x.split()[0])
data['date'] = data['측정일시'].astype('U').apply(lambda x: convert_time(x)).apply(lambda x: x.strftime("%Y-%m-%d"))
data['month'] = data['측정일시'].astype('U').apply(lambda x: convert_time(x)).apply(lambda x: x.strftime("%Y-%m"))
data['hour'] = data['측정일시'].astype('U').apply(lambda x: convert_time(x)).apply(lambda x: x.strftime("%H"))
data = data.drop(['망', '측정소코드', '측정소명', '측정일시', '주소'], axis = 1)

data.head()
# df = data.groupby('지역').mean().reset_index()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

   지역    SO2   CO     O3    NO2  PM10  PM25        date    month hour
0  서울  0.003  0.7  0.003  0.054  39.0  24.0  2019-01-01  2019-01   00
1  서울  0.003  0.8  0.002  0.056  38.0  27.0  2019-01-01  2019-01   01
2  서울  0.003  0.9  0.002  0.057  42.0  28.0  2019-01-01  2019-01   02
3  서울  0.003  0.8  0.002  0.054  42.0  31.0  2019-01-01  2019-01   03
4  서울  0.003  0.8  0.002  0.048  49.0  33.0  2019-01-01  2019-01   04

In [77]:
data['지역'].unique()

array(['서울', '경기', '강원', '부산', '경남', '울산', '광주', '전북', '전남', '제주', '대구',
       '경북', '대전', '충북', '충남', '세종', '인천'], dtype=object)

In [84]:
data1 = data.groupby(['date', 'month', 'hour','지역']).mean().reset_index()

In [75]:
pop = pd.read_csv("population_proportion.csv")
pop.index = pd.date_range('2019-01', '2020-08', freq='M').strftime('%Y-%m')
del pop['전국']
pop

,서울특별시,부산광역시,대구광역시,인천광역시,광주광역시,대전광역시,울산광역시,세종특별자치시,경기도,강원도,충청북도,충청남도,전라북도,전라남도,경상북도,경상남도,제주특별자치도
2019-01,0.188443,0.066342,0.047474,0.057035,0.028168,0.028725,0.022282,0.006113,0.252587,0.029747,0.030856,0.041018,0.035398,0.036254,0.051596,0.065087,0.012876
2019-02,0.188515,0.066299,0.047427,0.057034,0.028154,0.028702,0.022260,0.006180,0.252842,0.029721,0.030849,0.041007,0.035351,0.036193,0.051546,0.065040,0.012879
2019-03,0.188493,0.066253,0.047379,0.057039,0.028147,0.028681,0.022241,0.006226,0.253054,0.029720,0.030845,0.041012,0.035315,0.036159,0.051531,0.065015,0.012890
2019-04,0.188416,0.066203,0.047344,0.057039,0.028145,0.028657,0.022229,0.006258,0.253286,0.029724,0.030856,0.041012,0.035289,0.036136,0.051515,0.064991,0.012899
2019-05,0.188310,0.066157,0.047305,0.057044,0.028144,0.028634,0.022216,0.006284,0.253576,0.029722,0.030861,0.041005,0.035260,0.036105,0.051499,0.064966,0.012911
2019-06,0.188207,0.066116,0.047268,0.057038,0.028143,0.028605,0.022208,0.006320,0.253829,0.029722,0.030856,0.041006,0.035236,0.036082,0.051499,0.064946,0.012919
2019-07,0.188086,0.066068,0.047230,0.057031,0.028151,0.028579,0.022198,0.006371,0.254139,0.029717,0.030849,0.040994,0.035208,0.036047,0.051477,0.064929,0.012927
2019-08,0.187953,0.066025,0.047191,0.057023,0.028149,0.028555,0.022186,0.006405,0.254476,0.029718,0.030848,0.040989,0.035180,0.036011,0.051452,0.064907,0.012933
2019-09,0.187860,0.065989,0.047161,0.057027,0.028151,0.028537,0.022177,0.006437,0.254723,0.029715,0.030846,0.040981,0.035157,0.035987,0.051434,0.064881,0.012934
2019-10,0.187775,0.065937,0.047126,0.057029,0.028145,0.028513,0.022168,0.006487,0.254942,0.029718,0.030848,0.040976,0.035136,0.035969,0.051418,0.064876,0.012936
2019-11,0.187701,0.065894,0.047088,0.057033,0.028136,0.028484,0.022158,0.006531,0.255117,0.029727,0.030851,0.040969,0.035116,0.035979,0.051412,0.064864,0.012939
2019-12,0.187640,0.065841,0.047021,0.057031,0.028090,0.028445,0.022141,0.006568,0.255346,0.029730,0.030858,0.040959,0.035080,0.036041,0.051415,0.064852,0.012941
2020-01,0.187733,0.065805,0.046993,0.057016,0.028096,0.028432,0.022123,0.006603,0.255564,0.029713,0.030848,0.040936,0.035051,0.035965,0.051353,0.064831,0.012937
2020-02,0.187810,0.065791,0.046926,0.056996,0.028086,0.028414,0.022099,0.006631,0.255868,0.029695,0.030834,0.040911,0.035011,0.035913,0.051287,0.064786,0.012940
2020-03,0.187752,0.065774,0.046941,0.056954,0.028079,0.028391,0.022077,0.006651,0.256330,0.029678,0.030817,0.040888,0.034970,0.035864,0.051182,0.064721,0.012933
2020-04,0.187622,0.065744,0.046902,0.056922,0.028087,0.028387,0.022069,0.006659,0.256763,0.029663,0.030797,0.040863,0.034945,0.035822,0.051137,0.064684,0.012935
2020-05,0.187582,0.065719,0.046856,0.056906,0.028077,0.028393,0.022051,0.006662,0.257016,0.029680,0.030800,0.040865,0.034916,0.035800,0.051094,0.064646,0.012939
2020-06,0.187518,0.065672,0.046836,0.056853,0.028068,0.028377,0.022033,0.006662,0.257295,0.029693,0.030818,0.040891,0.034892,0.035776,0.051052,0.064612,0.012950
2020-07,0.187412,0.065640,0.046837,0.056820,0.028062,0.028361,0.022017,0.006679,0.257560,0.029709,0.030824,0.040909,0.034877,0.035751,0.051003,0.064577,0.012961

In [76]:
pop1 = pop.unstack().reset_index()
pop1.columns = ['region', 'month', 'p']
pop1.head()

  region    month         p
0  서울특별시  2019-01  0.188443
1  서울특별시  2019-02  0.188515
2  서울특별시  2019-03  0.188493
3  서울특별시  2019-04  0.188416
4  서울특별시  2019-05  0.188310

In [78]:
def change_region(x):
    regions = {'서울' : '서울특별시',
              '인천' : '인천광역시',
              '부산' : '부산광역시',
              '대구' : '대구광역시',
              '광주' : '광주광역시',
              '대전' : '대전광역시',
              '울산' : '울산광역시',
              '경기' : '경기광역시',
              '강원' : '강원도',
              '충북' : '충청북도',
              '충남' : '충청남도',
              '전북' : '전라북도',
              '전남' : '전라남도',
              '경북' : '경상북도',
              '경남' : '경상남도',
              '제주' : '제주도',
              '세종' : '세종특별자치시'}
    for key, value in regions.items():
        if x == key:
            return value

In [85]:
data1['region'] = data1['지역'].apply(change_region)
del data1['지역']
data1.head()

,date,month,hour,SO2,CO,O3,NO2,PM10,PM25,region
0,2019-01-01,2019-01,00,0.003500,0.760000,0.012200,0.026067,42.533333,27.000000,강원도
1,2019-01-01,2019-01,00,0.003741,0.679747,0.007716,0.035049,42.833333,27.575000,경기광역시
2,2019-01-01,2019-01,00,0.003160,0.504000,0.014880,0.021440,33.000000,18.120000,경상남도
3,2019-01-01,2019-01,00,0.004333,0.586667,0.018333,0.020067,34.153846,21.230769,경상북도
4,2019-01-01,2019-01,00,0.002571,0.557143,0.018857,0.024286,28.285714,18.857143,광주광역시

In [87]:
df = data1.merge(pop1, on = ['region', 'month'])
df.head()

,date,month,hour,SO2,CO,O3,NO2,PM10,PM25,region,p
0,2019-01-01,2019-01,00,0.003500,0.760000,0.012200,0.026067,42.533333,27.000000,강원도,0.029747
1,2019-01-01,2019-01,01,0.003000,0.728571,0.011786,0.026214,40.142857,29.083333,강원도,0.029747
2,2019-01-01,2019-01,02,0.003071,0.771429,0.011571,0.026357,38.714286,26.000000,강원도,0.029747
3,2019-01-01,2019-01,03,0.003071,0.742857,0.011643,0.025643,36.142857,26.000000,강원도,0.029747
4,2019-01-01,2019-01,04,0.003143,0.685714,0.011143,0.025214,33.857143,25.285714,강원도,0.029747

In [94]:
def mul(x):
    return x*df['p']

In [104]:
df[['SO2', 'CO', 'NO2', 'PM10', 'PM25']] = df[['SO2', 'CO', 'NO2', 'PM10', 'PM25']].apply(lambda x: mul(x)).values

In [107]:
del df['p']
df = df.groupby(['date', 'month', 'hour']).sum().reset_index()
df.head()

,date,month,hour,SO2,CO,O3,NO2,PM10,PM25
0,2019-01-01,2019-01,00,0.002950,0.502280,0.173666,0.022964,29.865125,19.099201
1,2019-01-01,2019-01,01,0.002871,0.502749,0.171010,0.022790,30.053274,19.718893
2,2019-01-01,2019-01,02,0.002887,0.506677,0.185895,0.021365,29.979168,19.721922
3,2019-01-01,2019-01,03,0.002847,0.495586,0.194004,0.019976,29.244843,19.573895
4,2019-01-01,2019-01,04,0.002822,0.487347,0.204225,0.018782,29.039844,19.837276

In [108]:
del df['month']

In [109]:
df.to_csv("미세먼지201901.csv", index = False)

In [110]:
df.isna().sum()

date    0
hour    0
SO2     0
CO      0
O3      0
NO2     0
PM10    0
PM25    0
dtype: int64

In [111]:
data.isna().sum()

지역           0
SO2      15964
CO       17585
O3       13433
NO2      14270
PM10     15536
PM25     18418
date         0
month        0
hour         0
dtype: int64