In [1]:
import numpy as np
import pandas as pd
import os

In [2]:
def drop_unnamed(data):
    names = data.columns
    for name in names:
        if "Unnamed" in name:
            data.pop(name)
    return data

In [3]:
stat_data = drop_unnamed(pd.read_csv("~/bigcon2020_parrot/prep/data/final_performance_with_stat.csv"))
stat_data.head()

,마더코드,상품코드,상품군,week,hour,weekofyear,stage,prime,IsHoliday,노출(분),판매단가,취급액,지속휴일수,TEMP,HUM,cpi,profit/m,avgp,minp,maxp
0,296,891,6,1,6,0,0,0,1.0,20.0,39900,2099000.0,1.0,-6.576974,63.524958,104.03,104950.0,298430.0,104950.0,524050.0
1,296,891,6,1,6,0,2,0,1.0,20.0,39900,3262000.0,1.0,-6.576974,63.524958,104.03,163100.0,298430.0,104950.0,524050.0
2,296,891,6,1,6,0,1,0,1.0,20.0,39900,6672000.0,1.0,-6.576974,63.524958,104.03,333600.0,298430.0,104950.0,524050.0
3,296,891,6,2,0,0,0,0,0.0,20.0,39900,7329000.0,0.0,-5.089473,54.841105,104.03,366450.0,298430.0,104950.0,524050.0
4,296,891,6,2,0,0,1,0,0.0,20.0,39900,10481000.0,0.0,-5.089473,54.841105,104.03,524050.0,298430.0,104950.0,524050.0

In [4]:
from sklearn.model_selection import train_test_split
from tqdm.auto import tqdm

In [5]:
stat_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35379 entries, 0 to 35378
Data columns (total 20 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   마더코드        35379 non-null  int64
 1   상품코드        35379 non-null  int64
 2   상품군         35379 non-null  int64
 3   week        35379 non-null  int64
 4   hour        35379 non-null  int64
 5   weekofyear  35379 non-null  int64
 6   stage       35379 non-null  int64
 7   prime       35379 non-null  int64
 8   IsHoliday   35379 non-null  float64
 9   노출(분)       35379 non-null  float64
 10  판매단가        35379 non-null  int64
 11  취급액         35379 non-null  float64
 12  지속휴일수       35379 non-null  float64
 13  TEMP        35379 non-null  float64
 14  HUM         35379 non-null  float64
 15  cpi         35379 non-null  float64
 16  profit/m    35379 non-null  float64
 17  avgp        35379 non-null  float64
 18  minp        35379 non-null  float64
 19  maxp        35379 non-null  float64
dtypes: float64(11), int64(9)
memory usage: 5.4 MB

In [6]:
X_stat = stat_data.drop(['취급액', 'profit/m'], axis = 1)
Y_stat = stat_data['취급액']

x_stat_train, x_stat_valid, y_stat_train, y_stat_valid = train_test_split(X_stat, Y_stat,
                                                                         test_size = 0.1,
                                                                         random_state = 123457)
print(x_stat_train.shape)
print(y_stat_train.shape)
print(x_stat_valid.shape)
print(y_stat_valid.shape)

(31841, 18)
(31841,)
(3538, 18)
(3538,)

In [7]:
## Data filtering
def filtering(train, cols, test):
    final = []
    revised = 0
    
    # 바꾸지 않을 컬럼 명
    rem_cols = ['week', 'hour', 'weekofyear', 'TEMP', 'HUM', 'cpi']
    idxs = []
    test = test.reset_index(drop=True)
    
    # 학습데이터 카테고리 필터링
    train_p = train['상품코드'].unique()
    train_m = train['마더코드'].unique()
    train_g = train['상품군'].unique()
    
    diff = list(set(train) - set(test))
    new_cols = list(test.columns) + diff
    train = train[new_cols]
    
    for i in tqdm(range(len(test))):
        # 상품코드가 x_train의 인코더 속에 존재하는가.(데이터 존재 여부 확인)
        if test['상품코드'].iloc[i] in train_p:
            temp_val = test.iloc[i].values
            final.append(test.iloc[i].values + train[diff].iloc[i].values)
        else:
            # 마더코드가 x_train안에 있는가
            if test['마더코드'].iloc[i] in train_m:
                temp = train.loc[train['마더코드'].values == np.where(train_m == test['마더코드'].iloc[i])[0]]
                # 판매단가 차가 최소인 row 추가
                temp['sub'] = abs(temp['판매단가'] - test['판매단가'].iloc[i])
                final.append(train.loc[temp['sub'].idxmin()].values)
                idxs.append(i)
                revised+=1
                print("revision_count : ", revised)
            else:
                # 상품군 확인
                if test['상품군'].iloc[i] in train_g:
                    temp = train.loc[train['상품군'].values == np.where(train_g == test['상품군'].iloc[i])[0]]
                    # 판매단가 차가 최소인 row 추가
                    temp['sub'] = abs(temp['판매단가'] - test['판매단가'].iloc[i])
                    final.append(train.loc[temp['sub'].idxminvalues)
                    idxs.append(i)
                    revised+=1()].
                    print("revision_count : ", revised)
    out = pd.DataFrame(final, columns = test.columns, index = test.index)
    print(out.index)
    print(idxs)
    out[rem_cols].loc[idxs] = out[rem_cols].update(test[rem_cols].loc[idxs])
    return out

In [8]:
filtered = filtering(x_stat_train, x_stat_valid)

HBox(children=(FloatProgress(value=0.0, max=3538.0), HTML(value='')))

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

revision_count :  1
revision_count :  2
revision_count :  3
revision_count :  4
revision_count :  5
revision_count :  6

RangeIndex(start=0, stop=3538, step=1)
[1121, 1125, 2248, 2419, 2747, 3180]

/home/yeeunlee/.local/lib/python3.6/site-packages/pandas/core/frame.py:6390: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[col] = expressions.where(mask, this, that)
/home/yeeunlee/.local/lib/python3.6/site-packages/pandas/core/indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)

In [9]:
cat_cols = ['마더코드', '상품코드', '상품군','week', 'hour', 'weekofyear', 'stage', 'IsHoliday', 'prime']
for col in cat_cols:
    x_stat_train[col] = x_stat_train[col].astype('category')
    filtered[col] = filtered[col].astype('category')
x_stat_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 31841 entries, 15609 to 29649
Data columns (total 18 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   마더코드        31841 non-null  category
 1   상품코드        31841 non-null  category
 2   상품군         31841 non-null  category
 3   week        31841 non-null  category
 4   hour        31841 non-null  category
 5   weekofyear  31841 non-null  category
 6   stage       31841 non-null  category
 7   prime       31841 non-null  category
 8   IsHoliday   31841 non-null  category
 9   노출(분)       31841 non-null  float64
 10  판매단가        31841 non-null  int64
 11  지속휴일수       31841 non-null  float64
 12  TEMP        31841 non-null  float64
 13  HUM         31841 non-null  float64
 14  cpi         31841 non-null  float64
 15  avgp        31841 non-null  float64
 16  minp        31841 non-null  float64
 17  maxp        31841 non-null  float64
dtypes: category(9), float64(8), int64(1)
memory usage: 4.1 MB

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [10]:
def MAPE(y_true, y_pred): 
    y_true, y_pred = np.array(y_true), np.array(y_pred)
    return np.mean(np.abs((y_true - y_pred) / y_true)) * 100

## Linear

In [11]:
from sklearn.linear_model import ElasticNet, Lasso, BayesianRidge, LassoLarsIC
from sklearn.ensemble import RandomForestRegressor
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import RobustScaler
import xgboost as xgb
import lightgbm as lgb

In [27]:
lasso = make_pipeline(RobustScaler(), Lasso(alpha =0.001, random_state=1))

In [28]:
lasso.fit(x_stat_train, y_stat_train)

Pipeline(steps=[('robustscaler', RobustScaler()),
                ('lasso', Lasso(alpha=0.001, random_state=1))])

In [29]:
lasso_pred = lasso.predict(filtered)
MAPE(y_stat_valid, lasso_pred)

66.46503749323476

In [24]:
ENet = make_pipeline(RobustScaler(), ElasticNet(alpha=0.01, l1_ratio=.9, random_state=3))

In [25]:
ENet.fit(x_stat_train, y_stat_train)

Pipeline(steps=[('robustscaler', RobustScaler()),
                ('elasticnet',
                 ElasticNet(alpha=0.01, l1_ratio=0.9, random_state=3))])

In [26]:
enet_pred = ENet.predict(filtered)
MAPE(y_stat_valid, enet_pred)

66.30902620239884

In [21]:
model_lgb = lgb.LGBMRegressor(objective='regression',num_leaves=5,
                              learning_rate=0.05, n_estimators=720,
                              max_bin = 55, bagging_fraction = 0.8,
                              bagging_freq = 5, feature_fraction = 0.2319,
                              feature_fraction_seed=9, bagging_seed=9,
                              min_data_in_leaf =6, min_sum_hessian_in_leaf = 11)

In [22]:
model_lgb.fit(x_stat_train, y_stat_train)

[LightGBM] [Warning] bagging_fraction is set=0.8, subsample=1.0 will be ignored. Current value: bagging_fraction=0.8
[LightGBM] [Warning] feature_fraction is set=0.2319, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=0.2319
[LightGBM] [Warning] min_sum_hessian_in_leaf is set=11, min_child_weight=0.001 will be ignored. Current value: min_sum_hessian_in_leaf=11
[LightGBM] [Warning] min_data_in_leaf is set=6, min_child_samples=20 will be ignored. Current value: min_data_in_leaf=6
[LightGBM] [Warning] bagging_freq is set=5, subsample_freq=0 will be ignored. Current value: bagging_freq=5

LGBMRegressor(bagging_fraction=0.8, bagging_freq=5, bagging_seed=9,
              feature_fraction=0.2319, feature_fraction_seed=9,
              learning_rate=0.05, max_bin=55, min_data_in_leaf=6,
              min_sum_hessian_in_leaf=11, n_estimators=720, num_leaves=5,
              objective='regression')

In [23]:
lgb_pred = model_lgb.predict(filtered)
MAPE(y_stat_valid, lgb_pred)

40.0282011700215

## Make Stat cols(168h -> 140h)

- 상품군별 h_mean, d_mean 결과 값 포함.

In [30]:
stat_data.head()

,마더코드,상품코드,상품군,week,hour,weekofyear,stage,prime,IsHoliday,노출(분),판매단가,취급액,지속휴일수,TEMP,HUM,cpi,profit/m,avgp,minp,maxp
0,296,891,6,1,6,0,0,0,1.0,20.0,39900,2099000.0,1.0,-6.576974,63.524958,104.03,104950.0,298430.0,104950.0,524050.0
1,296,891,6,1,6,0,2,0,1.0,20.0,39900,3262000.0,1.0,-6.576974,63.524958,104.03,163100.0,298430.0,104950.0,524050.0
2,296,891,6,1,6,0,1,0,1.0,20.0,39900,6672000.0,1.0,-6.576974,63.524958,104.03,333600.0,298430.0,104950.0,524050.0
3,296,891,6,2,0,0,0,0,0.0,20.0,39900,7329000.0,0.0,-5.089473,54.841105,104.03,366450.0,298430.0,104950.0,524050.0
4,296,891,6,2,0,0,1,0,0.0,20.0,39900,10481000.0,0.0,-5.089473,54.841105,104.03,524050.0,298430.0,104950.0,524050.0

In [63]:
_time = stat_data[['week', 'hour', 'profit/m']].groupby(['week', 'hour']).mean().reset_index()
_time.columns = ['week', 'hour', 'profit/140']
_time['week'] = _time['week'].astype('category')
_time['hour'] = _time['hour'].astype('category')

_time

    week hour    profit/140
0      0    0  7.258788e+05
1      0    1  5.862883e+05
2      0    2  8.152045e+05
3      0    6  6.218464e+05
4      0    7  9.455948e+05
..   ...  ...           ...
142    6   19  1.250057e+06
143    6   20  1.084664e+06
144    6   21  1.112898e+06
145    6   22  9.109540e+05
146    6   23  1.077795e+06

[147 rows x 3 columns]

In [64]:
_time.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 147 entries, 0 to 146
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   week        147 non-null    category
 1   hour        147 non-null    category
 2   profit/140  147 non-null    float64
dtypes: category(2), float64(1)
memory usage: 2.7 KB

In [65]:
_group = stat_data[['상품군', 'profit/m']].groupby('상품군').mean().reset_index()
_group.columns = ['상품군', 'profit-group']
_group['상품군'] = _group['상품군'].astype('category')
_group

   상품군  profit-group
0    0  6.292808e+05
1    1  9.363867e+05
2    2  1.274958e+06
3    3  2.193096e+06
4    4  9.176675e+05
5    5  1.294459e+06
6    6  1.249934e+06
7    7  1.886394e+06
8    8  8.157510e+05
9    9  9.385392e+05
10  10  5.184438e+05

In [66]:
len(x_stat_train)

31841

In [67]:
x_stat_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 31841 entries, 15609 to 29649
Data columns (total 18 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   마더코드        31841 non-null  category
 1   상품코드        31841 non-null  category
 2   상품군         31841 non-null  category
 3   week        31841 non-null  category
 4   hour        31841 non-null  category
 5   weekofyear  31841 non-null  category
 6   stage       31841 non-null  category
 7   prime       31841 non-null  category
 8   IsHoliday   31841 non-null  category
 9   노출(분)       31841 non-null  float64
 10  판매단가        31841 non-null  int64
 11  지속휴일수       31841 non-null  float64
 12  TEMP        31841 non-null  float64
 13  HUM         31841 non-null  float64
 14  cpi         31841 non-null  float64
 15  avgp        31841 non-null  float64
 16  minp        31841 non-null  float64
 17  maxp        31841 non-null  float64
dtypes: category(9), float64(8), int64(1)
memory usage: 4.1 MB

In [68]:
_group.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   상품군           11 non-null     category
 1   profit-group  11 non-null     float64
dtypes: category(1), float64(1)
memory usage: 635.0 bytes

In [69]:
final = x_stat_train.merge(_time, on = ['week', 'hour'], how = 'inner')
final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 31841 entries, 0 to 31840
Data columns (total 19 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   마더코드        31841 non-null  category
 1   상품코드        31841 non-null  category
 2   상품군         31841 non-null  category
 3   week        31841 non-null  category
 4   hour        31841 non-null  category
 5   weekofyear  31841 non-null  category
 6   stage       31841 non-null  category
 7   prime       31841 non-null  category
 8   IsHoliday   31841 non-null  category
 9   노출(분)       31841 non-null  float64
 10  판매단가        31841 non-null  int64
 11  지속휴일수       31841 non-null  float64
 12  TEMP        31841 non-null  float64
 13  HUM         31841 non-null  float64
 14  cpi         31841 non-null  float64
 15  avgp        31841 non-null  float64
 16  minp        31841 non-null  float64
 17  maxp        31841 non-null  float64
 18  profit/140  31841 non-null  float64
dtypes: category(9), float64(9), int64(1)
memory usage: 3.1 MB

In [70]:
final = final.merge(_group, on = ['상품군'], how = 'inner')
final.head()

,마더코드,상품코드,상품군,week,hour,weekofyear,stage,prime,IsHoliday,노출(분),판매단가,지속휴일수,TEMP,HUM,cpi,avgp,minp,maxp,profit/140,profit-group
0,116,423,1,3,19,8,0,0,0.0,20.0,2209000,0.0,11.165167,88.683944,104.81,7.271350e+05,201650.0,1798550.0,1.277576e+06,936386.716379
1,248,765,1,3,19,10,1,0,0.0,20.0,549000,0.0,18.588770,30.551804,105.29,7.438167e+05,114900.0,1732600.0,1.277576e+06,936386.716379
2,248,773,1,3,19,10,1,0,0.0,20.0,509000,0.0,18.588770,30.551804,105.29,9.009267e+05,157150.0,2120950.0,1.277576e+06,936386.716379
3,116,359,1,3,19,8,0,0,0.0,20.0,2299000,0.0,11.165167,88.683944,104.81,1.802393e+06,209800.0,6431800.0,1.277576e+06,936386.716379
4,248,776,1,3,19,10,2,0,0.0,20.0,809000,0.0,18.588770,30.551804,105.29,3.312500e+05,85050.0,911400.0,1.277576e+06,936386.716379

In [73]:
sample = x_stat_valid.drop(['avgp', 'minp', 'maxp'], axis = 1)

In [78]:
list(set(final.columns)-set(sample.columns))

['avgp', 'profit/140', 'minp', 'maxp', 'profit-group']

In [79]:
final.columns

Index(['마더코드', '상품코드', '상품군', 'week', 'hour', 'weekofyear', 'stage', 'prime',
       'IsHoliday', '노출(분)', '판매단가', '지속휴일수', 'TEMP', 'HUM', 'cpi', 'avgp',
       'minp', 'maxp', 'profit/140', 'profit-group'],
      dtype='object')

In [80]:
sample.columns

Index(['마더코드', '상품코드', '상품군', 'week', 'hour', 'weekofyear', 'stage', 'prime',
       'IsHoliday', '노출(분)', '판매단가', '지속휴일수', 'TEMP', 'HUM', 'cpi'],
      dtype='object')

In [89]:
new_cols = list(sample.columns) + list(set(final.columns) - set(sample.columns))

In [90]:
diff = list(set(final.columns) - set(sample.columns))

['마더코드',
 '상품코드',
 '상품군',
 'week',
 'hour',
 'weekofyear',
 'stage',
 'prime',
 'IsHoliday',
 '노출(분)',
 '판매단가',
 '지속휴일수',
 'TEMP',
 'HUM',
 'cpi',
 'avgp',
 'profit/140',
 'minp',
 'maxp',
 'profit-group']

In [91]:
final[new_cols]

,마더코드,상품코드,상품군,week,hour,weekofyear,stage,prime,IsHoliday,노출(분),판매단가,지속휴일수,TEMP,HUM,cpi,avgp,profit/140,minp,maxp,profit-group
0,116,423,1,3,19,8,0,0,0.0,20.0,2209000,0.0,11.165167,88.683944,104.81,7.271350e+05,1.277576e+06,201650.0,1798550.0,936386.716379
1,248,765,1,3,19,10,1,0,0.0,20.0,549000,0.0,18.588770,30.551804,105.29,7.438167e+05,1.277576e+06,114900.0,1732600.0,936386.716379
2,248,773,1,3,19,10,1,0,0.0,20.0,509000,0.0,18.588770,30.551804,105.29,9.009267e+05,1.277576e+06,157150.0,2120950.0,936386.716379
3,116,359,1,3,19,8,0,0,0.0,20.0,2299000,0.0,11.165167,88.683944,104.81,1.802393e+06,1.277576e+06,209800.0,6431800.0,936386.716379
4,248,776,1,3,19,10,2,0,0.0,20.0,809000,0.0,18.588770,30.551804,105.29,3.312500e+05,1.277576e+06,85050.0,911400.0,936386.716379
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31836,107,278,10,4,15,16,1,0,0.0,20.0,49900,0.0,24.546149,54.650316,105.19,4.652440e+05,1.258490e+06,85150.0,1493200.0,518443.817053
31837,107,277,10,4,15,16,2,0,0.0,20.0,59900,0.0,24.546149,54.650316,105.19,7.477774e+05,1.258490e+06,89050.0,1801650.0,518443.817053
31838,112,304,10,1,2,39,1,0,0.0,20.0,89900,0.0,7.564855,86.148050,105.37,4.370644e+05,5.804462e+05,238850.0,838850.0,518443.817053
31839,112,305,10,1,2,39,1,0,0.0,20.0,59900,0.0,7.564855,86.148050,105.37,3.271311e+05,5.804462e+05,118600.0,731950.0,518443.817053
31840,112,303,10,1,2,39,1,0,0.0,20.0,69900,0.0,7.564855,86.148050,105.37,4.272967e+05,5.804462e+05,162450.0,882850.0,518443.817053

In [92]:
final

,마더코드,상품코드,상품군,week,hour,weekofyear,stage,prime,IsHoliday,노출(분),판매단가,지속휴일수,TEMP,HUM,cpi,avgp,minp,maxp,profit/140,profit-group
0,116,423,1,3,19,8,0,0,0.0,20.0,2209000,0.0,11.165167,88.683944,104.81,7.271350e+05,201650.0,1798550.0,1.277576e+06,936386.716379
1,248,765,1,3,19,10,1,0,0.0,20.0,549000,0.0,18.588770,30.551804,105.29,7.438167e+05,114900.0,1732600.0,1.277576e+06,936386.716379
2,248,773,1,3,19,10,1,0,0.0,20.0,509000,0.0,18.588770,30.551804,105.29,9.009267e+05,157150.0,2120950.0,1.277576e+06,936386.716379
3,116,359,1,3,19,8,0,0,0.0,20.0,2299000,0.0,11.165167,88.683944,104.81,1.802393e+06,209800.0,6431800.0,1.277576e+06,936386.716379
4,248,776,1,3,19,10,2,0,0.0,20.0,809000,0.0,18.588770,30.551804,105.29,3.312500e+05,85050.0,911400.0,1.277576e+06,936386.716379
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31836,107,278,10,4,15,16,1,0,0.0,20.0,49900,0.0,24.546149,54.650316,105.19,4.652440e+05,85150.0,1493200.0,1.258490e+06,518443.817053
31837,107,277,10,4,15,16,2,0,0.0,20.0,59900,0.0,24.546149,54.650316,105.19,7.477774e+05,89050.0,1801650.0,1.258490e+06,518443.817053
31838,112,304,10,1,2,39,1,0,0.0,20.0,89900,0.0,7.564855,86.148050,105.37,4.370644e+05,238850.0,838850.0,5.804462e+05,518443.817053
31839,112,305,10,1,2,39,1,0,0.0,20.0,59900,0.0,7.564855,86.148050,105.37,3.271311e+05,118600.0,731950.0,5.804462e+05,518443.817053
31840,112,303,10,1,2,39,1,0,0.0,20.0,69900,0.0,7.564855,86.148050,105.37,4.272967e+05,162450.0,882850.0,5.804462e+05,518443.817053